<header>
        
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/home">
            <h1 class="navbar-title title is-1">Olayer <i class="fa fa-paint-brush"></i></h1>
          </a>
        </div>
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-primary" href="/figurines"><i class="fa fa-palette"></i> Les figurines</a>  
                <a class="button is-link" href="/addFigurine"><i class="fa fa-plus-circle"></i> Ajouter une figurine</a>
                <a class="button is-info" href="/profil"><i class="fa fa-user-alt"></i> Mon profil</a>
                <a class="button is-success" href="/blog"><i class="fa fa-book-open"></i> Articles</a>
                <a class="button is-danger" href="/logout"><i class="fa fa-sign-out-alt"></i> Se déconnecter</a>
              </div>
            </div>
          </div>
        </div>
      </nav>
    <nav>

    </nav>
</header>