<header>
        
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/home">
            <h1>Olayer</h1>
          </a>
        </div>
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-primary" href="/figurines">Les figurines</a>  
                <a class="button is-link" href="/addFigurine">Ajouter une figurine</a>
                <a class="button is-info" href="/profil">Mon profil</a>
                <a class="button is-success" href="/blog">Articles</a>
                <a class="button is-danger" href="/logout">Se déconnecter</a>
              </div>
            </div>
          </div>
        </div>
      </nav>
    <nav>

    </nav>
</header>