<%- include('partials/header')%>
<body>
    <%- include ('partials/navbar') %>
<h1>PAGE DETAIL AVEC LA FIGURINE</h1>
<%= figurine.name %>
<script src="https://kit.fontawesome.com/22bc19bb3d.js" crossorigin="anonymous"></script>
</body>
</html>