<%- include('partials/header')%>
<body>
    <%- include ('partials/navbar') %>
    <main>

    <h1>ERREUR , RESSOURCE INTROUVABLE</h1>
    </section>
    </main>
    <footer>
        Copyright @ 2021
    </footer>
    <script src="https://kit.fontawesome.com/22bc19bb3d.js" crossorigin="anonymous"></script>
</body>
</html>