<%- include('partials/header')%>
<body>
    <%- include ('partials/navbar') %>
    <main>
    <h1>Bienvenue <%= locals.user.name %> !</h1>

    <section>Actualités</section>
    <p>Notes du développeur</p>
    <h2>Les dernières oeuvres !</h2>
    <section>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </section>
    </main>
    <footer>
        Copyright @ 2021
    </footer>
</body>
</html>