<%- include ('partials/header') %> 

<body>
    <nav id="main__navbar">
        <div id="navbar__items">
        <a class="main__links" href="/login">Se connecter</a>
        <a class="main__links" href="/signup">S'inscrire</a>
        </div>
    </nav>
    <main id="main__content">

        <h1 id="main__title">Olayer</h1>
        <p id="main__subtitle">Musée des créations miniatures</p>
        <div class="main__picture"></div>
        <div class="main__picture"></div>
        <div class="main__picture"></div>
        <div class="main__picture"></div>
    </main>
</body>

</html>