<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olayer</title>
</head>
<body>
    <h1>Page de Login</h1>
    <form action="" method="POST">
        <label for="email">Votre Email</label>
        <input type="email" name="email" id="email" placeholder="Entrez votre email">

        <label for="name">Votre pseudo</label>
        <input type="text" name="name" id="name" placeholder="Entrez votre pseudo">

        <input type="submit" value='Se connecter !'>
    </form>
</body>
</html>