<%- include ('partials/header') %> 
<body>
    
    <main id="main__loginPage">
        <h1 id="title__loginPage">Page de Login</h1>
    <form action="" method="POST" class="column is-half">
        <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input class="input" id="email" name="email" type="email" placeholder="Email">
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" id="password" name="password" type="password" placeholder="Password">
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control">
              <input type="submit" class="button is-success" value="Se connecter">
            </p>
          </div>
    </form>
</main>
</body>
</html>