<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olayer</title>
</head>
<body>
    <h1>Page d'inscription</h1>
    <% if (locals.errors) { console.log(locals.errors) %>
        <% for (const error of locals.errors) { %>
            <p><%= error.message %></p>
        <% }} %>

    <form action="/signup#submit" method="POST">

        <label for="name">Votre pseudo</label>
        <input type="text" name="name" id="name" placeholder="Entrez votre pseudo" required>

        <label for="email">Votre Email</label>
        <input type="email" name="email" id="email" placeholder="Entrez votre email" required>

        <label for="password">Votre mot de passe</label>
        <input type="password" name="password" id="password" placeholder="Entrez votre mot de passe" required>

        <label for="passwordConfirm">Votre mot de passe</label>
        <input type="password" name="passwordConfirm" id="passwordConfirm" placeholder="Confirmer votre mot de passe" required>


        <input type="submit" value='Valider !'>

    </form>
</body>
</html>